{
  "presets": [
    ["@babel/preset-env", { "targets": ">0.2%, not dead", "loose": true }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
